@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>Server URL is @Model.Host</p>
</div>
<div class="text-center">
    <p>Client URL is <span id="url"></span></p>
</div>

@section Scripts {
    <script type="text/javascript">   
        $(function() {
            $('#url').text(window.location.href);
        });
    </script>
}